/*
  Colors based on New Moon syntax (url)
  Adapated by Jeffrey Summers
*/
@import "variables";

.cm-s-typora-default .cm-header {
    color: $variable;
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
    border-left: 3px solid hsl(210, 11%, 75%);
}

.cm-s-typora-default .cm-comment {
    color: $comment;
}

.cm-s-typora-default .cm-tag {
    color: $tag;
}

.cm-s-typora-default .cm-string {
    color: $keyword;
}

.cm-s-typora-default .cm-atom {
    color: $constant;
}

.cm-s-typora-default .cm-number {
    color: $number;
}

.typora-node .file-list-item-parent-loc,
.typora-node .file-list-item-time,
.typora-node .file-list-item-summary {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', Arial, sans-serif;
}

.cm-s-typora-default .cm-link {
    color: hsl(36, 78%, 68%);
}

.cm-s-typora-default .cm-link ~ .cm-link {
    color: hsl(36, 78%, 68%);
}
.cm-s-typora-default .cm-link + .cm-string + .cm-link {
    color: $string;
    color: hsl(209, 79%, 68%);
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background: hsla(0, 0%, 20%, 0.72);
}

.cm-s-typora-default .cm-code {
    color: hsl(0, 0%, 76%);
}
.cm-s-typora-default .cm-comment {
    color: hsl(0, 0%, 60%);
}

.cm-s-typora-default .cm-property {
    color: $support;
}