// New Moon colors
$background: #2d2d2d;
$comment: #777c85;
$foreground: #b3b9c5;
$function: #fff;
$variable: #f2777a;
$number: #fca369;
$attribute: #ffd479;
$keyword: #ffeea6;
$string: #92d192;
$class: #6AB0F3;
$tag: $class;
$constant: #76d4d6;
$pseudo: $constant;
$support: #e1a6f2;
$operator: #ac8d58;

$font-sans: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;

